<div class = "text-center">
  <a href = "main"></a>
  <h1>Components Calculator</h1>
  <hr/>
  <a href = "#numbers">Input Numbers:</a>
  <hr/>
  <a href = "#operations">Input Operations:</a>
  <hr/>
  <a href = "#result">Result:</a>
  <hr/>

  <a id = "numbers"></a>
  <numbers-parent></numbers-parent>

  <p>{{ num1 }}</p>
  <p>{{ num2 }}</p>

  <a href = "main">Back to the top</a>
  <hr/>

  <operations-parent></operations-parent>
  <a href = "main">Back to the top</a>
  <hr/>

  <a id = "results"></a>
  <results-parent></results-parent>
  <a href = "main">Back to the top</a>
  <hr/>   

</div>