<div class = "text-center">
    <h2>Choose an Operation</h2>
    <button (click) ="addOperation(operation1.value)" class = "btn btn-primary p-3 m-3" #operation1>+</button>
    <button (click) ="subtractOperation(operation2.value)" class = "btn btn-primary p-3 m-3" #operation2>-</button>
    <button (click) ="multOperation(operation3.value)" class = "btn btn-primary p-3 m-3" #operation3>*</button>
    <button (click) ="divideOperation(operation4.value)" class = "btn btn-primary p-3 m-3"#operation4>/</button>
    

</div>